$main_percent: 50%;
$clock_color: black;

@keyframes rotation_sc {
  0%  { transform: rotate(0deg) }
  50% {transform: rotate(180deg)}
  100% {transform: rotate(360deg)}
}
@keyframes rotation_mn{
  0%  {transform: rotate(0deg) }
  50% {transform: rotate(180deg)}
  100% {transform: rotate(360deg)}
}
@keyframes rotation_hr{
  0%  {transform: rotate(0deg) }
  50% {transform: rotate(180deg)}
  100% {transform: rotate(360deg)}
}
*{
  padding: 0;
  margin: 0;
}
body{
  background-color: #6e7279;
}
.clock{
  width: 300px;
  height: 300px;
  background-color: white;
  background-image: url("../images/805b416668c97734945d34c25e34a66c.png");
  background-position: center center;
  background-size: contain;
  border: 3px solid $clock_color;
  border-radius: $main_percent;
  position: absolute;
  top: $main_percent;
  left: $main_percent;
  margin-left: -150px;
  margin-top: -150px;
}
.clock {
  &:after{
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: $main_percent;
    background-color: $clock_color;
    position: absolute;
    top: $main_percent;
    left: $main_percent;
    margin-left: -7.5px;
    margin-top: -7.5px;
    z-index: 5;
  }
  span{
    &:before{
      content: '';
      display: inline-block;
      width: 7px;
      height: 80px;
      background-color: $clock_color;
      border-top-left-radius: 30%;
      border-top-right-radius: 30%;
      position: absolute;
      top: 40%;
      left: $main_percent;
      margin-left: -3.5px;
      margin-top: -40px;
      z-index: 1;
      animation: rotation_mn 3660s linear infinite;
    }
    &:nth-child(2):before{
      width: 4px;
      height: 120px;
      top: $main_percent;
      background-color: red;
      margin-left: -2px;
      margin-top: -60px;
      z-index: 3;
      animation: rotation_sc 60s linear infinite;
    }
    &:last-child:before{
      width: 9px;
      height: 60px;
      background-color: purple;
      margin-left: -4.5px;
      margin-top: -30px;
      z-index: 2;
      animation: rotation_hr 86400s linear infinite;
    }
  }
}
